<mapper namespace="test">

    <!-- 这就是一个 MappedStatement对象 -->
    <select id="getList" resultType="com.tedrain.mybatis.po.User" statementType="prepared">
        SELECT * FROM `user`
        <if test="username != null and username != '' ">
            where username LIKE '%${username}'
            <if test="sex != null and sex !='' ">
                AND sex=#{sex}
            </if>
        </if>
    </select>
</mapper>